<div class="card h-100 shadow-sm">
  <img src="{{foodShop.pictureUrl}}" alt="{{foodShop.name}}" class="img-fluid bg-light">
    <div class="card-body d-flex flex-column">
      <a href="#">
        <h6 class="text-uppercase">{{foodShop.name}}</h6>
      </a>
      <p class="card-text">In the restaurant industry, good customer service means being friendly, available, attentive and quick to take care of customers' needs.</p>
       
        <div class="btn-group mt-auto">
          <button routerLink="/foods" type="button" class="btn btn-outline-secondary">View</button>
        </div>
  </div>
</div>