<carousel>
    <slide>
        <img class="custom-img" src="assets/images/fon1.jpg" alt="first slide" style="display: block; width: 100%; height: 50%;">
    </slide>
    <slide>
        <img src="assets/images/fon2.jpg" alt="second slide" style="display: block; width: 100%; height: 50%">
    </slide>
    <slide>
        <img src="assets/images/fon3.jpg" alt="third slide" style="display: block; width: 100%; height: 50%">
    </slide>
    <slide>
        <img src="assets/images/fon4.jpg" alt="third slide" style="display: block; width: 100%; height: 50%">
    </slide>
    <slide>
        <img src="assets/images/fon5.jpg" alt="third slide" style="display: block; width: 100%; height: 50%">
    </slide>
    <slide>
        <img src="assets/images/fon6.jpg" alt="third slide" style="display: block; width: 100%; height: 50%">
    </slide>
</carousel>
<section>
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to Catering!!!</h1>
    </div>
</section>
<div class="container marketing">

     <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Catering Service<span class="text-muted">Start planning your event</span></h2>
        <p class="lead">Food is our passion, and it shows. We use only the freshest ingredients, in the dishes we prepare, including cuisine from all around the world such as Italian food, Mexican food, Asian food, Greek food, 
            classic American dishes, and more. Our extensive menu will have something for everyone – even the pickiest eaters, while also pleasing the most discerning palettes. Our catering services are perfect for weddings, private parties, 
            corporate events, festivals, sales calls, family get togethers, and more.

        </p>
      </div>
      <div class="col-md-5">
        <img src="assets/images/bsfon1.jpg" alt="first slide" style="display: block; width: 500px; height: 500px">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2 padding-left-20">
        <h2 class="featurette-heading ml-5">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead ml-5">Every good meal should come paired with a delicious beverage. Catering Made Simple offers full beverage service including bar 
            catering along with our delicious food options. Our experienced bartenders can handle everything from exquisite wine pairings to fancy cocktail parties.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="assets/images/bsfon2.jpg" alt="first slide" style="display: block; width: 500px; height: 500px">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Our dinnerware and equipment rentals can help you transform any space into a gorgeously decorated room, worthy of your event. We can provide silverware, 
            linens, glassware, dishes, cutlery, and even décor. Let our finishing touches set your event over the top.</p>
      </div>
      <div class="col-md-5">
        <img src="assets/images/bsfon3.jpg" alt="first slide" style="display: block; width: 500px; height: 500px">
      </div>
    </div>
  </div>