<div class="container mt-5">
    <div class="row" *ngFor="let restaurant of restaurants" style="margin: 20px">
        <div class="col-6">
            <img src="{{restaurant.pictureUrl}}" alt="{{restaurant.name}}" class="custom-img w-100">
        </div>
        <div class="col-6">
            <h3>{{restaurant.name}}</h3>
            <p style="font-size: 2em;">Working hours from Monday to Sunday</p>
            <p style="font-size: 2em;">{{restaurant.openTime}}</p>
            <p style="font-size: 2em;">{{restaurant.closedTime}}</p>

            <div class="d-flex justify-content-start align-items-center">
                 <button (click)="bookRestaurant(restaurant.id)" class="btn btn-outline-primary btn-lg">Book Restaurant</button>
            </div>
            
            <div class="row mt-5">
              <div class="col-12 ml-3">
              </div>
            </div>
        </div>
    </div>
</div>
