<div class="container mt-5">
    <div class="row" *ngFor="let restaurant of restaurants" style="margin: 20px">
        <div class="col-6">
            <img src="{{restaurant.pictureUrl}}" alt="{{restaurant.name}}" class="custom-img w-100">
        </div>
        <div class="col-6">
            <h3>{{restaurant.name}}</h3>
            <p style="font-size: 2em;">Address: {{restaurant.streetAddress}}</p>
            <p style="font-size: 2em;">Opening Hours</p>
            <p style="font-size: 2em;">{{restaurant.openTime}} - {{restaurant.closeTime}}</p>
            
            <div *ngIf="restaurant.isAvailableForBooking">
             <div><i class="fa fa-check-circle fa-5x" style="color: green"></i></div>
              <div>
                  <p class="mb-4">
                      Our Restaurant is available today. Check the booking!!!</p>
                    <div class="d-flex justify-content-start align-items-center">
                 <button (click)="bookRestaurant(restaurant.id)" class="btn btn-outline-primary btn-lg">Book Restaurant</button>
                </div>
             </div>
        </div>
        
           <div *ngIf="!restaurant.isAvailableForBooking">
            <div>
             <i class="fa fa-window-close fa-5x" style="color: red"></i> </div>
             <p class="mb-4">Our Restaurant has been booked for today </p>
            </div>
        
            <div class="row mt-5">
              <div class="col-12 ml-3">
              </div>
            </div>
        </div>
    </div>
</div>