<div class="card h-100 shadow-sm">
  <img src="{{restaurant.pictureUrl}}" alt="{{restaurant.name}}" class="bg-light" height="300px" width="100%" style="background-position: center; background-size: cover">
    <div class="card-body d-flex flex-column">
      <a href="#">
        <h6 class="text-uppercase">{{restaurant.name}}</h6>
      </a>
      <p class="card-text">In the restaurant industry, good customer service means being friendly, available, attentive and quick to take care of customers' needs.</p>
      
        <div class="btn-group mt-auto">
          <button type="button" class="btn btn-outline-secondary" (click)="navigate()">View</button>
        </div>
  </div>
</div>
